.container
{
    top: 50%;
    left: 50%;
    margin-top: 50px;
    margin-left:50px;
}
.head{
    margin-left: 30px;
    font-weight: bold;
    font-size: 0.8cm;
    font-family: 'Times New Roman', Times, serif;
    display :block;
}
.title{
    margin-left: 10px;
    font-weight: bold;
    font-size: 0.5cm;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.back{
    font-size: 0.5cm
}