<!doctype html>
<html>
	<head><title>AngularJS</title></head>
	<body ng-app="myApp">
		<script type="text/javascript"src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.6/angular.min.js"></script>
		<script type="text/javascript"src="app.js"></script>
		
		<div ng-controller="MyController">
				<h2>Reviews</h2>
				<div ng-repeat="re in reviews">
						<div style="background-color:#EEEEEE">
							<p>{{re.comment}}</p>
							<p><b>{{re.by}}</b></p>
						</div>
				</div>
				<form name="reviewForm">
					<p> {{form.comment}}</p><br/>
					<p> {{form.author}} </p>


						<label>Comment</label><br/>
						<textarea ng-model="form.comment"></textarea><br/>
						<label>Author</label><br/>
						<input ng-model="form.author" type="text"/>
				</form>
		</div>

	</body>
</html>